<style>
.errorLCblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.errorLCitem {
	color: #ff0000;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 70px; 
}
.footer {
  position: absolute;
  bottom: -50;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

h5 {
	font-weight: bold;
}

/* FOOTER
-------------------------------------------------- */
<%-- @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap'); --%>

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1 0 auto;
        }

        .boldy {
            background-color: #f3f6fd;
            flex-shrink: 0;
        }

        .mul {
            list-style-type: none;
            margin: 0;
            padding: 0
        }

        .mul > li {
            padding: 4px;
            color: #C5CAE9;
        }

        .mul > li:hover {
            color: #957bda;
            cursor: pointer
        }

        .mhr {
            border-width: 3px
        }

        .card {
            padding: 2% 7%
        }

        .social > i {
            padding: 1%;
        }

        .social > i:hover {
            color: #957bda;
            cursor: pointer
        }

        .policy > div {
            padding: 4px
        }

        .heading {
            <%-- font-family: 'Titillium Web', sans-serif; --%>
            color: black
        }

        .dividerFooter {
            border-top: 2px solid
        }

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: #957bda;
        }
</style>